<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520757273869-9hb1r783f4km5q5hj2bbokbqcc4sd2pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520757273869-9hb1r783f4km5q5hj2bbokbqcc4sd2pi</string>
	<key>API_KEY</key>
	<string>AIzaSyBtickPErMGbFW2neyTxCVwBIhU2udKjdg</string>
	<key>GCM_SENDER_ID</key>
	<string>520757273869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tk.textcraft</string>
	<key>PROJECT_ID</key>
	<string>textcraft-114ab</string>
	<key>STORAGE_BUCKET</key>
	<string>textcraft-114ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520757273869:ios:2a70021ce4aae3e3a47c44</string>
</dict>
</plist>